<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>QRCoder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <script type="text/javascript" src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-qrcode/jquery.qrcode.min.js"></script>
        <script type="text/javascript" src="js/qrcoder.js"></script>
    </head>
    <body ng-app="qrcoder" ng-controller="qrcoderController">
        <div data-role="page">
            <div data-role="header">
                <h1>QR Coder</h1>
            </div><!-- /header -->
            <div data-role="content">	
                <input type="text" ng-model="qrdata">
                <button ng-click="qrdata=''" data-icon="delete">Clear</button>
                <button ng-click="setUrl()">Share this page as QR Code</button>
                <div>
                    <qrcode style="display:block;text-align:center" data="qrdata"/>
                </div>
            </div><!-- /content -->
        </div><!-- /page -->
    </body>
</html>
